* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;

}
h1 {
    color: #D0AB2E;
}
body {
    background-color:#403D3D;
}

div {
    border-color: #405229;
    border-style: solid;
    border-width: 2px;
    padding: 2px;
}

label {
    color: #D0AB2E;
    display: block;
    margin: 15px 0px 0px ;
}

input {
    border-color: #FFDB29;
}

textarea {
    border-color:#FFDB29 ;
}

#Reset-button, #Submit-button { 
    border-color:#FFDB29;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

#Password {
    display: block;
}

 #Submit-button:hover {
    cursor: pointer; 
    background-color: #405229;
    width: 100px;
    height: 50px;
    border-color: #B46C36;
    
}

#Reset-button:hover {
    cursor: pointer; 
    background-color: #405229;
    width: 100px;
    height: 50px;
    border-color: #B46C36;
}