* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;

}
h1 {
    color: #16ECF0;
}
body {
    background-color:#2923CC ;
}

div {
    border-color: #007AE6 ;
    border-style: solid;
    border-width: 2px;
    padding: 2px;
}

label {
    color: #21A85E;
    display: block;
    margin: 15px 0px 0px ;
}

input {
    border-color: #AE0400;
}

textarea {
    border-color:#AE0400 ;
}

#Reset-button, #Submit-button { 
    border-color:#AE0400;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

#Password {
    display: block;
}

 #Submit-button:hover {
    cursor: pointer; 
    background-color: #B447EB;
    width: 100px;
    height: 50px;
    border-color: chartreuse;
    
}

#Reset-button:hover {
    cursor: pointer; 
    background-color: #B447EB;
    width: 100px;
    height: 50px;
    border-color: chartreuse;
}